<ion-view view-title="Patient List">
  <ion-header-bar class="bar-subheader signup-header">
      <h2 class="title">List of Patients Approved</h2>
  </ion-header-bar>
    <ion-content>
      <div class="patientList">
        <div class="bar bar-header item-input-inset">
          <div class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
            <i class="icon ion-close-circled" ng-show="searchText.length" ng-click="searchText = ''"></i>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
            </div>
            <select class="selectFilter" ng-model="filter" ng-change="status(filter);searchText = ''">
              <option selected value="">All</option>
              <option value="Approved">Approved</option>
              <option value="Pending">Rejected</option>
            </select>
          </label>
      </div>
        <div class="listHeader row">
          <span class="header pdr0 col">PATIENT</span>
          <span class="header pdl0 col">DOCTOR</span>
          <span class="col col-10"></span>
      </div>
          <ion-list>
          <ion-item ng-repeat="patient in approvedList | filter:searchText | filter:statusFilter" class="item-remove-animate charity-list" ng-show="approvedList.length">
                <div class="patientDiv row">
                  <i class="icon" ng-show="patient.status" ng-class="patient.status === 'Approved' ? 'ion-checkmark-circled' : patient.status === 'Acknowledged' ? 'ion-information-circled' :  'ion-help-circled'" title="patient.status" ng-click="openPopover()"></i> &nbsp;&nbsp;
                  <span class="patientItem col">{{patient.patient_name}}</span>
                  <span class="patientItem col">{{patient.doctor_name}}</span>
                </div>
            </ion-item>
            <ion-item  ng-show="(approvedList | filter:searchText | filter:statusFilter).length == 0">
              <p class="text-center">No Patients Found.</p>
            </ion-item>
          </ion-list>
      </div>
    </ion-content>
</ion-view>