<ion-view view-title="Patient List">
	<ion-nav-buttons side="secondary">
      <button class="button button-calm button-clear show-edit-btn" ng-click="data.showEdit = !data.showEdit">
        Edit
    </button>
    </ion-nav-buttons>
	<ion-header-bar class="bar-subheader signup-header">
	    <h2 class="title">List of Patients Seeking Funds</h2>
	</ion-header-bar>
    <ion-content>
	    <div class="patientList">
	      	<!-- <button class="button" ng-click="data.showEdit = !data.showEdit">
	        	Edit
	      	</button> -->
	      	<ion-list show-reorder="data.showEdit">
		    	<ion-item ng-repeat="patient in patientList" class="item-remove-animate">
	  	          	<ion-reorder-button class="ion-ios-compose-outline" 
	                 	ng-click="editPatient(patient.patient_id)">
					</ion-reorder-button>
		          	<div class="patientDiv" ng-click="isExpand = !isExpand;">
		          		<span>{{patient.patient_name}} &nbsp;&nbsp;<span class="button" ng-class="{'approved-badge' : patient.status === 'Approved', 'acknowledge-badge' : patient.status === 'Acknowledged', 'pending-badge' : patient.status === 'Pending'}" ng-show="patient.status">{{patient.status}}</span></span>	
	      				<span class="arrowIcon" ng-show="!isExpand"><i class="icon ion-chevron-down"></i></span>
		          		<span class="arrowIcon" ng-show="isExpand"><i class="icon ion-chevron-up"></i></span>
		        	</div>
		        	<div class="patient-details" ng-show="isExpand">
		        		<div class="row"><span class="col-60">Doctor Name: </span><span>{{patient.doctor_name}}</span></div>
		        		<div class="row"><span class="col-60">Patient Application: </span><span>{{patient.stage}}</span></div>
			      	</div>
		        </ion-item>
	      	</ion-list>
	    </div>
    </ion-content>
</ion-view>