ion-view {
	ion-content {
		div {
			.input-label{
				color: #00B9F5 !important;
			}
			.date-of-birth{
				padding-left: 15px;
				width: auto;
			}
			text-align: left;
			.error-message{
				color: red;
			}
		}
		.item-stacked-label{
			.input-label{
				display: block;
			}

		}
		 
		.list {
			.name-occupation {
				.input-label {
					width: auto;
				}
				label{
					margin-top: 10px;
				}
			}
			.save-patient-details {
				text-align: center !important;
				.button{
					&.button-positive{
						@include button(#337ab7, #fff, 40px, 15px, 0);
					}
					&.button-balanced{
						@include button(#5cb85c, #fff, 40px, 15px, 0);
					}
				}
			}

		}
	}
}	
