ion-view{
	.show-edit-btn{
		font-size: 15px !important;
		font-weight: 600 !important;
		color: #369 !important;
	}
	ion-content{
		.scroll{
			.patientList{
				.item-input-inset{
					.item-select{
						width: 40%;
						padding: 14px 0;
						margin-left: 10px;
						border: 0 none;
						background-color: transparent;
						.input-label{
							width: 0;
							padding: 0;
						}
						.selectFilter{
							position: static;	
							padding: 0 0 0 16px;
						}
					}
				}
				.listHeader{
					padding: 0 11px;
					font-weight: 600;
					background: #E4E0E0;
					.header.pdr0{
						padding-right: 0;
					}
					.header.pdl0{
						padding-left: 0;
					}
				}

				ion-list{
					ion-item{
						padding: 0 16px;
						line-height: 50px;
						.patientDiv{
							text-align: left;
							padding: 0;
							.patientItem{
								padding: 0;
								max-width: 129px;
								word-wrap: break-word;
							}
							.patientItem.editIocn{
								font-size: 30px;
								max-width: 30px;
							}
						}
					}
				}
			}
		}
	}
}