ion-view{
	.show-edit-btn{
		font-size: 15px !important;
		font-weight: 600 !important;
		color: #369 !important;
	}
	ion-content{
		.scroll{
			.patientList{
				.item-input-inset{
					.item-input-wrapper{
						padding-right: 0;
						.icon{
							&.ion-close-circled{
								padding: 5px;
							}
						}
					}
					.item-select{
						width: 40%;
						padding: 14px 0;
						margin-left: 10px;
						border: 0 none;
						background-color: transparent;
						.input-label{
							width: 0;
							padding: 0;
						}
						.selectFilter{
							position: static;	
							padding: 0 0 0 16px;
						}
						select{
							.item-select:after{
								right: 22px;
								margin-top: -1px;
							}
						}
					}
				}
				.listHeader{
					padding: 0 11px;
					font-weight: 600;
					background: #E4E0E0;
					.header.pdr0{
						padding-right: 0;
						padding-left: 26px;
					}
					.header.pdl0{
						padding-left: 0;
					}
				}

				ion-list{
					ion-item{
						padding: 0 16px;
						&.charity-list{
							padding: 0 10px;
							.patientDiv{
								.icon{
									&.ion-checkmark-circled{
										color: #33cd5f;
									}
									&.ion-information-circled{
										color: #3C89CC;
									}
									&.ion-help-circled{
										color: #ef473a;
									}
								}
							}
						}
						line-height: 50px;
						.patientDiv{
							text-align: left;
							padding: 0;
							.icon{
								&.ion-checkmark-circled{
									color: #33cd5f;
								}
								&.ion-information-circled{
									color: #3C89CC;
								}
								&.ion-help-circled{
									color: #ef473a;
								}
								&.ion-close-circled{
									color: #ef473a;
								}
							}
							.patientItem{
								padding: 0;
								max-width: 148px;
								word-wrap: break-word;
							}
							.patientItem.editIocn{
								font-size: 30px;
								max-width: 30px;
							}
						}
					}
				}
			}
		}
	}
}