ion-view{
	.show-edit-btn{
		font-size: 15px !important;
		font-weight: 600 !important;
		color: #369 !important;
	}
	ion-content{
		.scroll{
			.patientList{
				.buttons{
					text-align: right;
					.editButton{
						line-height: 30px;
						margin: 5px;
						min-height: 35px;
					}
				}
				ion-list{
					ion-item{
						.patientDiv{
							text-align: left;
							.arrowIcon{
								position: absolute;
								right: 25px;
							}
						}
						.patient-details{
							.row{
								font-size: 15px;
								.col-60{
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}
}