ion-view{
	.bar-header{
		h2{
			img{
				height:100%;
				width: 140px;
			}
		}
	}
	.signup-header{
		background-color: #019dd0;
		/*border-radius: 42px 0;*/
		padding: 5px;
		.title{
			color: #fff;
			font-size: 20px;
			font-weight: normal;
			text-transform: uppercase;
		}
	}
	ion-content{
		.scroll{
			.signupFormDiv{
				h2{
					background-color: #019dd0;
					color: #fff;
					border-radius: 42px 0;
					margin-top: 20px;
					font-size: 27px;
    				padding: 5px;
    				font-weight: normal;
				}
				.formDiv{
					padding: 10px;
					div{
						margin-bottom: 15px;
						text-align: left;
						label{
							font-size: 16px;
						}
						input{
							border: 1px solid #ccc;
							border-radius: 4px;
							padding: 6px 12px;
						}
						.error-text{
							color: #F11414;
							margin-top: 0;
							margin-bottom: 10px;
						}
					}
					.btnGroup{
						text-align: center;
						.button{
							margin: 0;
							&.registration-btn{
								@include button(#5cb85c, #fff, 40px, 15px);
							}
							&.reset-btn{
								@include button(#337ab7, #fff, 40px, 15px);
							}
						}
					}
				}
			}
			.footer-info{
		    	border-top: 1px solid #e5e5e5;
				padding: 10px;
				.footerIcons{
					.icon{
						font-size: 30px;
						padding: 10px;
						color: #7D3F98;
					}
				}
		    }
		}
	}
}