<ion-view class="home-container">
	<ion-content class="padding home-content">
        <div class="imgDiv">
            <img src="img/Angelfundslogo_new.jpg">
        </div>
        <div class="logins">
	        <button class="button button-block button-positive hospital-btn" ng-click="openLoginModal(true)">
	            Login to Hospital
	        </button>
	        <button class="button button-block button-positive charity-btn" ng-click="openLoginModal(false)">
	            Login to Charity Organization
	        </button>
        </div>
	</ion-content>
</ion-view> 