<ion-view class="home-container">
	<ion-content class="padding home-content">
        <div class="imgDiv">
            <img src="img/Angelfundslogo_new.jpg">
        </div>
        <div class="logins">
	        <button class="button button-block button-positive hospital-btn" ng-click="openLoginModal('hospital')">
	            Hospital Login
	        </button>
	        <button class="button button-block button-positive charity-btn" ng-click="openLoginModal('org')">
	            Charity Organization Login
	        </button>
	        <button class="button button-block button-positive admin-btn" ng-click="openLoginModal('admin')">
	            Admin Login
	        </button>
	        <button class="button button-block button-balanced signup-btn" ng-click="signup()">
	            Sign Up
	        </button>
        </div>
	</ion-content>
</ion-view> 