<ion-modal-view class="login-container">
    <ion-content class="padding login-content" ng-class="loginType === 'hospital' ? 'hospital-login' : loginType === 'org' ? 'charity-login' :  'admin-login'">
        <div class="iconDiv text-center">
            <i class="icon" ng-class="loginType === 'hospital' ? 'ion-android-add-circle' : loginType === 'org' ? 'ion-android-home' : 'ion-person-stalker'"></i>
        	<p class="LoginHeader" ng-bind-html="loginType === 'hospital' ? 'Hospital' : loginType === 'org' ? 'Charity Organization' : 'Admin'"></p>
        </div>
            <div class="list FormDiv">
                <label class="item item-input item-floating-label"  ng-class="{'has-error' : errors.login.username}">
                    <span class="input-label">User Name</span>
                    <input type="text" name="username"  placeholder="Patient Name" ng-model="loginData.username" ng-focus="hideErrorMsg('username','login')">
                </label>
                <div class="error-text text-center" ng-show="errors.login.username">{{errors.login.username}}</div>
                <label class="item item-input item-floating-label" ng-class="{'has-error' : errors.login.password}">
                    <span class="input-label">Password</span>
                    <input type="password" name="Password" placeholder="Password" ng-model="loginData.password" ng-focus="hideErrorMsg('password','login')">
                </label>
                <div class="error-text text-center" ng-show="errors.login.password">{{errors.login.password}}</div>
            </div>
            <!-- <div>
                <label>User Name</label>
                <input class="col" type="text" name="username" placeholder="User name or Email" ng-model="login.userName" ng-focus="hideErrorMsg('userName','login')">
                <div class="error-text text-center" ng-show="errors.login.userName">{{errors.login.userName}}</div>
            </div>
            <div>
                <label>Password</label>
                <input class="col" type="password" name="Password" placeholder="Password" ng-model="login.password" ng-focus="hideErrorMsg('password','login')">
                <div class="error-text text-center" ng-show="errors.login.password">{{errors.login.password}}</div>
            </div> -->
	        <button class="button button-block button-positive login-btn" ng-click="login()">
	            Login
	        </button>
    	    <div class="go-back text-center" ng-click="closeLoginModal()"><a> Cancel </a></div>
        <div class="footer ng-hide">
	        <div class="footer-info text-center">
	            <p >© 2016 Angelfunds. All rights reserved | Designned By <strong> Bhaskar </strong></p>
	            <div class="col footerIcons">
	                <i class="icon ion-social-googleplus"></i>
	                <i class="icon ion-social-dribbble-outline"></i>
	                <i class="icon ion-social-facebook"></i>
	            </div>
	        </div>
	    </div>
	</ion-content>
</ion-modal-view>